<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/cards.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-responsive.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/prettify.css') }}">
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-1.10.0.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.file-input.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/prettify.js') }}"></script>
</head>
<body>
    <div class="container-fluid content">
        <div class="navbar">
            <div class="navbar-inner">
                <ul class="nav">
                    <li class="brand">Cards</li>
                    <li {% if list %}class="active"{% endif %}>
                        <a href="{{ url_for('cards', token=token, ltype='l') }}">List</a>
                    </li>
                    <li {% if table %}class="active"{% endif %}>
                        <a href="{{ url_for('cards', token=token, ltype='t') }}">Table</a>
                    </li>
                </ul>
            </div>
        </div>
        {% block content %}{% endblock %}
    </div>
    <script>
        $(function(){
            window.prettyPrint && prettyPrint()
        })
    </script>
</body>
</html>