{% extends 'cards_base.html' %}
{% block cards_list %}
<div class="accordion" id="sellersacc">
    {% set first = True %}
    {% for seller in sellers %}
    {% set anchor = seller.name|idfy %}
    <div class="accordion-group">
        <div class="accordion-heading">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#sellersacc" href="#{{ anchor }}">
                <span class="pull-left">{{ seller.name }}</span>
                <span class="pull-right">Stats: deck cost: ${{ seller.calculate_cards_cost(cards) }}</span>
                <div class="clearfix"></div>
            </a>
        </div>
        <div id="{{ anchor }}" class="accordion-body collapse{% if first %} in{% set first = False %}{% endif %}">
            <div class="accordion-inner">
                <dl class="dl-horizontal pull-left">
                    <dt>Seller:</dt>
                    <dd><a href="{{ seller.url }}">{{ seller.name }}</a></dd>
                    <dt>Rating:</dt>
                    <dd>{{ seller.rating }}</dd>
                    <dt>Sales:</dt>
                    <dd>{{ seller.sales }}</dd>
                </dl>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>name</th>
                            <th>need</th>
                            <th>condition</th>
                            <th>available</th>
                            <th>price</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for card_record in seller.cards %}
                        <tr>
                            <td class="text-middle" rowspan="{{ card_record['supply']|length + 1 }}">
                                <a href="{{ card_record['card'].info.url }}">{{ card_record['card'].name }}</a>
                            </td>
                            <td class="text-center text-middle" rowspan="{{ card_record['supply']|length + 1 }}">{{ card_record['card'].number }}</td>
                        </tr>
                        {% for supply_info in card_record['supply'] %}
                        <tr>
                            <td class="text-center">{{ supply_info['condition'] }}</td>
                            <td class="text-center">{{ supply_info['number'] }}</td>
                            <td class="text-center">{{ supply_info['price'] }}</td>
                        </tr>
                        {% endfor %}
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}