{% extends 'cards_base.html' %}
{% block cards_list %}
<div class="tabbable">
    <ul class="nav nav-tabs">
        <li class="{{ list_type|active_if('av') }}">
            <a href="{{ url_for('tcg', token=token, list_type='av') }}">All cards available</a>
        </li>
        <li class="{{ list_type|active_if('al') }}">
            <a href="{{ url_for('tcg', token=token, list_type='al') }}">All</a>
        </li>
    </ul>
</div>
<div class="accordion" id="sellersacc">
    {% set first = sellers|first %}
    {% set cardsSum = cards|sum(attribute='number') %}
    {% for seller in sellers %}
    <div class="accordion-group">
        {% set anchor = seller.name|idfy %}
        <div class="accordion-heading">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#sellersacc" href="#{{ anchor }}">
                {% set cost = seller.calculate_cards_cost(cards) %}
                {% set available = seller.get_available_cards_num(cards) %}
                <span class="pull-left">{{ seller.name }}</span>
                <span class="pull-right">
                    need: <strong>{{ '%d'|format(cardsSum) }}</strong>
                    available: <strong>{{ '%d'|format(available) }}</strong>
                    cost: <strong>${{ '%0.2f'|format(cost) }}</strong>
                </span>
                <div class="clearfix"></div>
            </a>
        </div>
        <div id="{{ anchor }}" class="accordion-body collapse{% if seller == first %} in{% endif %}">
            <div class="accordion-inner">
                <dl class="dl-horizontal pull-left">
                    <dt>Seller:</dt>
                    <dd><a href="{{ seller.url }}">{{ seller.name }}</a></dd>
                    <dt>Rating:</dt>
                    <dd>{{ seller.rating }}</dd>
                    <dt>Sales:</dt>
                    <dd>{{ seller.sales }}</dd>
                </dl>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>name</th>
                            <th>need</th>
                            <th>condition</th>
                            <th>available</th>
                            <th>price</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for card_offers in seller.cards %}
                        <tr>
                            <td class="text-middle" rowspan="{{ card_offers['offers']|length + 1 }}">
                                <a href="{{ card_offers['card'].info.url }}">{{ card_offers['card'].name }}</a>
                            </td>
                            <td class="text-center text-middle" rowspan="{{ card_offers['offers']|length + 1 }}">
                                {{ card_offers['card'].number }}
                            </td>
                        </tr>
                        {% for offer in card_offers['offers'] %}
                        <tr>
                            <td class="text-center">{{ offer.condition }}</td>
                            <td class="text-center">{{ offer.number }}</td>
                            <td class="text-center">{{ offer.price }}</td>
                        </tr>
                        {% endfor %}
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}