{% extends 'cards_base.html' %}
{% block cards_list %}
{% include 'cards_sort_ops.html' %}
<ul class="media-list">
    {% for card in cards %}
    {% set img_url = (card.redactions|first).info.img_url %}
    <li class="media span9">
        {% set anchor = card.name|urlencode %}
        <h3 class="media-heading capitalize">
            <a href="#{{ anchor }}" name="{{ anchor }}">[{{ card.number }}] {{ card.name }}</a>
        </h3>
        <div class="media-body relative-container">
            <div class="media pull-left" style="margin-top: 15px">
                <a class="fancy-object pull-left" href="{{ img_url }}">
                    <img class="media-object" src="{{ img_url }}" style="height: 300px">
                </a>
            </div>
            <div class="media well well-small">
                <ul class="unstyled">
                    {% for line in (card.redactions|first).info.description %}
                        <li class="spread-text">{{ line }}</li>
                    {% endfor %}
                </ul>
            </div>
            <div class="media well well-small">
                <table class="table table-striped table-bordered span6">
                    <thead>
                        <tr>
                            <th rowspan="2">redaction</th>
                            <th colspan="3">price</th>
                        </tr>
                        <tr>
                            <th>low</th>
                            <th>mid</th>
                            <th>high</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for reda in card.redactions %}
                        <tr>
                            <td><a href="{{ reda.info.url }}">{{ reda.name }}</a></td>
                            <td class="text-center">${{ '%0.2f'|format(reda.prices.low) }}</td>
                            <td class="text-center">${{ '%0.2f'|format(reda.prices.mid) }}</td>
                            <td class="text-center">${{ '%0.2f'|format(reda.prices.high) }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </li>
    {% endfor %}
</ul>
<script type="text/javascript">
    $(function() {
        $("a.fancy-object").fancybox({
            openEffect: 'none',
            helpers: { title : null },
            padding: 3,
            showNavArrows: false
        });
    });
</script>
{% endblock %}