{% extends 'base.html' %}
{% block content %}
    <table class="table table-bordered table-striped">
        <thead>
        <tr>
            <th rowspan="2">token</th>
            <th rowspan="2">number</th>
            <th colspan="3">price</th>
        </tr>
        <tr>
            <th>low</th>
            <th>mid</th>
            <th>high</th>
        </tr>
        </thead>
        <tbody>
        {% for cards_list in cards_lists %}
            <tr>
                <td class="text-center">
                    <a href="{{ url_for('cards', token=cards_list.token) }}">{{ cards_list.token }}</a>
                </td>
                <td class="text-center">{{ cards_list.cards_num }}</td>
                <td class="text-center">${{ '%0.2f'|format(cards_list.price['low']) }}</td>
                <td class="text-center">${{ '%0.2f'|format(cards_list.price['mid']) }}</td>
                <td class="text-center">${{ '%0.2f'|format(cards_list.price['high']) }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}