{% extends 'cards_base.html' %}
{% block cards_list %}
{% include 'cards_sort_ops.html' %}
<ul class="media-list">
    {% for card in cards %}
    <li class="media">
        <a class="fancy-object pull-left" href="{{ card.info.img_url }}">
            <img class="media-object" src="{{ card.info.img_url }}" style="height: 300px">
        </a>
        <div class="media-body relative-container" style="height: 300px;">
            <blockquote style="height: 100%">
                <h3 class="media-heading">
                    {% set anchor = card.name|urlencode %}
                    <a href="#{{ anchor }}" name="{{ anchor }}">{{ card.name }} [{{ card.number }}]</a>
                    <small><a href="{{ card.info.url }}">at Magiccards</a></small>
                    <small><a href="{{ card.prices.url }}">at TCGPlayer</a></small>
                </h3>
                <div class="media well well-small">
                    <ul class="unstyled">
                    {% for line in card.info.description %}
                        <li class="spread-text">{{ line }}</li>
                    {% endfor %}
                    </ul>
                </div>
                <div class="media bottom">
                    <table class="table table-bordered table-striped pull-right">
                        <tr>
                            <th>Low:</th>
                            <td>${{ card|price('low') }}</td>
                            <th>Mid:</th>
                            <td>${{ card|price('mid') }}</td>
                            <th>High:</th>
                            <td>${{ card|price('high') }}</td>
                        </tr>
                    </table>
                </div>
            </blockquote>
        </div>
    </li>
    {% endfor %}
</ul>
<script type="text/javascript">
    $(function() {
        $("a.fancy-object").fancybox({
            openEffect: 'none',
            helpers: { title : null },
            padding: 3,
            showNavArrows: false
        });
    });
</script>
{% endblock %}