{% extends 'cards_base.html' %}
{% block cards_list %}
<div class="accordion" id="sellersacc">
    {% set first = True %}
    {% for seller in sellers %}
    {% set anchor = seller.name|idfy %}
    <div class="accordion-group">
        <div class="accordion-heading">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#sellersacc" href="#{{ anchor }}">
                <span class="pull-left">{{ seller.name }}</span>
                <span class="pull-right">Stats: afadsfgasdknfgcsdha asdfhcnsahfc</span>
                <div class="clearfix"></div>
            </a>
        </div>
        <div id="{{ anchor }}" class="accordion-body collapse{% if first %} in{% set first = False %}{% endif %}">
            <div class="accordion-inner">
                <dl class="dl-horizontal pull-left">
                    <dt>Seller:</dt>
                    <dd><a href="{{ seller.url }}">{{ seller.name }}</a></dd>
                    <dt>Rating:</dt>
                    <dd>{{ seller.rating }}</dd>
                    <dt>Sales:</dt>
                    <dd>{{ seller.sales }}</dd>
                </dl>
                <dl class="dl-horizontal pull-left">
                    <dt>Seller:</dt>
                    <dd><a href="{{ seller.url }}">{{ seller.name }}</a></dd>
                    <dt>Rating:</dt>
                    <dd>{{ seller.rating }}</dd>
                    <dt>Sales:</dt>
                    <dd>{{ seller.sales }}</dd>
                </dl>
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>name</th>
                            <th>need</th>
                            <th>available</th>
                            <th>price</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for card in seller.cards %}
                        <tr>
                            <td class="text-middle">
                                <a href="{{ card['card'].info.url }}">{{ card['card'].name }}</a> ({{ card['condition'] }})
                            </td>
                            <td class="text-center text-middle">{{ card['card'].number }}</td>
                            <td class="text-center">{{ card['number'] }}</td>
                            <td class="text-center">{{ card['price'] }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}