{% extends 'base.html' %}
{% block content %}
<div class="alert alert-block">
    <h3>Warning!</h3>
    <p class="lead">Some of cards in uploaded list was not found in magiccards database,
        continue without these cards or you will try to fix list and reupload it?</p>
</div>
<form action="{{ url_for('delete') }}" method="post">
    <div class="top-bottom-margin">
        <a href="{{ url_for('cards', token=token) }}" class="btn btn-primary pull-right">Continue</a>
        <input type="hidden" name="token" value="{{ token }}">
        <input class="btn btn-danger pull-left" type="submit" value="Go back">
        <div class="clearfix"></div>
    </div>
</form>
<table class="table table-bordered table.striped">
    <thead>
        <tr>
            <th>number</th>
            <th>name</th>
            <th>status</th>
        </tr>
    </thead>
    <tbody>
        {% for card in cards %}
        {% set anchor = card.name|urlencode %}
        <tr class="{% if card.is_resolved %}success{% else %}error{% endif %}">
            <td class="text-center text-middle">{{ card.number }}</td>
            <td class="text-middle"><a href="#{{ anchor }}" name="{{ anchor }}">{{ card.name }} [{{ card.number }}]</a></td>
            <td class="text-center text-middle">
                {% if card.is_resolved %}
                    found <stron>{{ card.redactions|length }}</stron> redactions
                {% else %}
                    unknown
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}